
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  color: rgb(238, 77, 109);
}

.App{
  background-color: rgb(250, 200, 200);
  width: auto;
  height: auto;
}

.cardE{
  margin-left: 80px;
  margin-right: 80px;
}